*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
.names {
    width: 200px;
}

.name {
    padding: 10px;
    margin: 5px;
    background-color: rgb(212, 255, 0);
    border: 1px solid rgb(78, 78, 78);
    cursor: move;
}